<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * Created by Yadgarov Islombek on 2021
  ~  * Copyright (c).  All rights reserved.
  ~  * Last modified 23.01.21 4:14
  ~  بِسْمِ ٱللّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيم  *
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aid.moneymanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".ui.splash_screen.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.add_kiritish.AddWalletActivity"></activity>
        <activity
            android:name=".ui.signin.SignInActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.main.history.edit_entry.EditWalletEntryActivity" />
        <activity
            android:name=".ui.options.OptionsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>